.buttonContainer {
    display: flex;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--color-secondary-dark);
    /* display: inline-block; */
}

.button {
    margin: 0;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    color: var(--text-color-faded-white)
}

.button.active {
    background-color: var(--color-primary-dark);
    color: var(--text-color-white);
}
