@import '../../variables.css';
.inputWrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.customLabel{
    font-weight: 500;
    font-size: 14px;
}
.customInput{
    color: var(--text-color-faded-white);
    background: transparent;
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.5px rgba(160,160,160,255);
    -webkit-box-shadow: 0 0 0 0.5px rgba(160,160,160,255);
    -moz-box-shadow: 0 0 0 0.5px rgba(160,160,160,255);
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 15px;
}

